<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>You've been invited to Influenza</h1>
    <p>Hi,</p>
    <p>You've been invited to join Influenza. Click the link below to create your account:</p>
    <p><a href="<%= @signup_url %>">Create Account</a></p>
    <p>This invitation will expire in 7 days.</p>
  </body>
</html>
