<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Reset your password</h1>
    <p>Hi,</p>
    <p>We received a request to reset your password. Click the link below to choose a new password:</p>
    <p><a href="<%= @reset_url %>">Reset Password</a></p>
    <p>This link will expire in 15 minutes.</p>
    <p>If you didn't request a password reset, you can safely ignore this email.</p>
  </body>
</html>
